.barred {
    &--researcher-1, &--researcher-2, &--researcher-3 {
        display: block;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 80px;
            border-bottom: 4px solid var(--researcher-1);
            font-style: italic;
            font-size: 16px;
        }
    }

    &--researcher-1 {
        &:before {
            color: var(--researcher-1-txt);
        }
    }

    &--researcher-2 {
        &:before {
            color: var(--researcher-2);
            border-color: var(--researcher-2);
        }
    }

    &--researcher-3 {
        &:before {
            border-color: var(--researcher-3);
            color: var(--researcher-3);
        }
    }
}
