.c-bio {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-base);
    text-align: left;

    &__name, &__content {
        padding: 0 var(--space-sm) !important;
    }

    &__name {
        margin-top: var(--space-sm) !important;
        order: 5;
    }

    &__content {
        order: 10;
    }
}
