.c-bio {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-base);

    &__name {
        margin-top: var(--space-sm) !important;
        order: 5;
    }

    &__content {
        padding: 0 var(--space-sm);
        order: 10;
    }
}
