*,
:after,
:before {
    box-sizing: border-box;
}

html {
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: var(--line-height-base);
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include mq($from: md) {
        font-size: 18px;
    }
}

.bg {
    &-gray-light {
        background-color: var(--color-gray-light);
    }

    &-gray {
        background-color: var(--color-gray);
    }

}
