.c-heading, %c-heading {
    margin: 0;
    padding: 0;
    font-size: var(--text-size-md);
    font-weight: 400;
    line-height: var(--line-height-heading);
}

@mixin heading-xxl {
    font-size: var(--text-size-xxxl);
    font-weight: 700;
    margin-bottom: 0.25em;

    @include mq($until: md) {
        font-size: var(--text-size-xxxl-mobile);
    }
}

@mixin heading-xl {
    font-size: var(--text-size-xxl);
    font-weight: 300;
    margin-bottom: 0.25em;
}

@mixin heading-lg {
    font-size: var(--text-size-xl);
    font-weight: 700;
    @include mq($until: md) {
        font-size: var(--text-size-xl-mobile);
    }
}

@mixin heading-md {
    font-size: var(--text-size-lg);
    font-weight: 700;
    line-height: var(--line-height-);
}

@mixin heading-sm {
    font-size: var(--text-size-sm);
    font-weight: 700;
    line-height: var(--line-height-large);
}

.c-heading {
    &--xxl {
        @include heading-xxl;
    }

    &--xl {
        @include heading-xl;
    }

    &--lg {
        @include heading-lg;
    }

    &--md {
        @include heading-md;
    }

    &--sm {
        @include heading-sm;
    }
}

