.c-nav--footer {
    margin: var(--space-base) 0;
    .c-nav__link {
        display: block;
        padding: var(--space-xs) 0;
        color: var(--color-white);
        font-weight: 700;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
